<h2>Edit Profile</h2>
<div>
  <app-hello></app-hello>
  <div>
    <label>FirstName:-
      <input type="text" [(ngModel)]="student.firstName">
    </label>
  </div>
  <div>
    <label>LastName:-
      <input type="text" [(ngModel)]="student.lastName">
    </label>
  </div>
  <div>
    <label>Age:-
      <input type="text" [(ngModel)]="student.age">
    </label>
  </div>
  <div>
    <label>Hide Hobby:-</label>
    <input type="checkbox" (click)="checkboxClick()" />
  </div>
  <div *ngIf="showHobbies">
    <label>Hobbies:-</label>
    <ul>
      <li *ngFor="let hobby of student.hobbies">
        <input type="text" [(ngModel)]="hobby.value">
      </li>
    </ul>
  </div>

  <button type="button" (click)="submit()">
    Save
  </button>
</div>

{{ student | json }}
{{ salary | number }}
{{ date | date: 'dd-MM-YY' }}
